// Colors
$Almost-White: hsl(0, 0%, 98%);
$Medium-Gray: hsl(0, 0%, 41%);
$Almost-Black: hsl(0, 0%, 8%);

// Font size
$body-fs: 18px;

@mixin invert-color() {
    color: $Almost-Black;
    background-color: $Almost-White;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-size: $body-fs;
}


p {
    color: $Medium-Gray;
}

// Header section stylings
header {
    margin: 20px 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    
}

.nav-items {
    display: flex;
    list-style: none;
}

.close-icon {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#features-arrow:hover {
    cursor: pointer;
}

#company-arrow:hover {
    cursor: pointer;
}

#register {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    
    

}


.dropdown {
    list-style: none;
    display: none;
    flex-direction: column;
    row-gap: 10px;

    img {
        margin-right: 10px;
    }

    

}







.icon-menu {
    align-self: center;
}

// Main section stylings
.main-content {
    margin: 20px 10px;
    text-align: center;

    p {
        line-height: 20px;
        margin-top: 20px;
    }
}

.hero-img {
    display: block;
    margin: 0 auto;
    
    img {
        width: 100%;
    }
}

.learn-more {
    color: $Almost-White;
    background-color: $Almost-Black;
    border-radius: 10px;
    padding: 10px 10px;
    width: 111px;
    margin-top: 20px;
    font-size: 1rem;

    &:hover {
        @include invert-color();
        cursor: pointer;
    }
    
    
}

// Footer sectino stylings
.images-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    img {
        width: 50px;
    }
}



.attribution {
     font-size: 11px; text-align: center; 
     margin: 20px auto;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}



@media screen and (max-width: 899px) {
    .nav-items {
        flex-direction: column;
        position: fixed;
        background-color: $Almost-White;
        inset: 0 0 0 40%;
        display: none;
        

        a {
            margin-top: 20px;
            margin-left: 20px;
        }

        
    }

    .login-register {
        text-align: center;
        display: flex;
        flex-direction: column;

        #login {
            margin: 100px 0 10px 0;
        }

        #register {
            width: 150px;
            margin: 0 auto;
        }
    }

    .dropdown {
        background-color: $Almost-White;
        position: relative;
        top: 10px;
        left: 30px;

    }
}

@media screen and (min-width: 900px) {
    .wrapper {
        width: 1400px;
        margin: 0 auto;
    }

    // Header section styles
    .nav-container {
        display: flex;
        flex-direction: row;
        column-gap: 50px;
    }
    
    .nav-items {
        justify-content: flex-start;
        display: flex;
        column-gap: 20px;
        width: 100%;

        a {
            color: $Medium-Gray;

            &:hover {
                color: $Almost-Black;
                cursor: pointer;
            }
        }
        
    }

    .close-icon {
        display: none;
    }

    .login-register {
        margin-left: auto;
    }

    #login {
        margin-right: 10px;
        
    }

    #register {
        &:hover {
            color: $Almost-Black;
            
        }
    }

    .dropdown {
        background-color: $Almost-White;
        border-radius: 10px;
        position: fixed;
        box-shadow: 2px 2px 10px $Medium-Gray;
        padding: 20px;
        display: none;

    }

    #features-dropdown {
        margin-right: 60px;
    }

        

    

    .icon-menu {
        display: none;
    }

    
    // Main section stylings
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'main-content hero-img';
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
        column-gap: 50px;
        
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 100px;
        text-align: left;
        max-width: 500px;
        justify-self: center;
        
        
        grid-area: main-content;

        h1 {
            font-size: 4em;
            
            span {
                &::after {
                    content: "\a";
                    white-space: pre;
                }
            }
        }

        p {
            max-width: 500px;
            line-height: 30pt;
        }

    }

    .hero-img {
        grid-area: hero-img;

        justify-self: center;
        max-width: 556px;
    }
    

}